<!DOCTYPE html>
<html>
  <head>
    <title>Wallets</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav>
      <a href='/api/wallets/new'>Create A New Wallet</a>
    </nav>
    <div id="app">
      <h2>All Wallets</h2>
      <ul>
        <% allWallets.forEach(function(wallet) {  console.log(wallet)%>
          
          <h4>Wallet Address: <%= wallet.address %></h4>
          <li>Blockchain: <%= wallet.blockchain %></li>
          <li>Currencies:
            <ul> 
              <% wallet.subcurrencies.forEach(function(currency) {  console.log(currency)%>
                <li><%= currency.id %> <%= currency.quantity %></li>

            
              <% }) %>
            </ul>
          </li>
          <!-- <li>Asset <%= wallet.address %></li> -->
        <% }) %>
      </ul>
    </div>
  </body>
</html>